# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec
!build.spec

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# 测试
.pytest_cache/
.coverage
htmlcov/

# 虚拟环境
venv/
env/
ENV/

# 数据与输出
test_data/
test_data(不要发布)/
参考(不要删除)/
参考(不要删除或发布)/
output.txt
readme-continue
*.xlsx
